*{
    margin : 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* Nav Bar Section */

.navbar{
    background-color: #FAE8E8;
    display: fixed;
    height: 70px;
    width: 100%;
}

.navbar h3{
    font-weight: bold;
}

/* About Container */
.about-container{
    height: 91.25vh;
    width: 100%;
    background-color: #FAE8E8;
    display: flex;
    flex-direction: row;
}

.about-text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding : 10px;
    margin-left : 60px
}

.about-text h1{
    font-weight: bold;
}

.about-text p{
    font-weight: 400;
    font-size: 37px;
}

.about-text p{
    font-size: 20px;
}

.about-text h5{
    font-size: 30px;
}


.about-text h5 span{
    font-size: 40px;
    opacity: none;
    color: #8A3815;
}

.about-brain{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-brain img{
    width: 600px;
    height: 600px;
}

.about-learn-more{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top : 90%;
    left: 0;
    right: 0;
    text-align: center;
}

.about-learn-more p{
    font-size: 18px;
}

.fa-arrow-down{
    color : #8A3815
}

.about-learn-more span i{
    animation: updown 2.5s ease infinite;
}

@keyframes updown{
    0% {
        transform: translateY(-100%);
        }

    50% {
    transform: translateY(100%);
    }

    100% {
    transform: translateY(-100%);
    }
}

/* Mission Container */
.mission-container{
    width: 100%;
    height: 100vh;
    background-color: #FAE8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.mission-text{
    margin-left: 60px;
    width: 90%;
}

.mission-text h1{
    font-weight: bold;
}

.mission-text p{
    font-size: 20px;
}

.mission-tiles{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    margin: 0px 10px;
    animation: popup 2s ease infinite;
}

.card:hover {
    box-shadow : 0 0 11px rgba(33,33,33,.2); 
    transition-timing-function: ease-in;
    transition: 0.5s;
    transform: translateY(-5px);
}

.tile-banner{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-text{
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 17.5px;
}


/* Footer - Contact Details */
.contact{
    height: 200px;
    width: 100%;
    background-color: #000000;
    position: relative;
    display: flex;
}

.footer-logo{
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.footer-socials-box{
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.footer-socials{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-socials a i{
    font-size: 40px;
    color: #000000;
}

.footer-final{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 13px;
}

.footer-socials a{
    text-decoration: none;
    color: white;
}