<html>
    <head>
        <!--media queries-->
        <title>Encephalon</title>
        <meta name="author" content="Jude Savio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- Adding favicon-->
        <link rel="shortcut icon" type="image/x-icon" href= "/assets/img/icon.ico" />
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <!-- Font Awesome Kit -->
        <script src="https://kit.fontawesome.com/6d2d9357ff.js" crossorigin="anonymous"></script>
        <!-- Linking custom CSS file -->
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <!-- Hero Section -->
        <section id="about">

            <!-- Nav Bar Module -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container" style="color: #00001f;">
                    <h3>Encephalon.</h3>
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#ToggleMenu" aria-controls="ToggleMenu" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="ToggleMenu">
                        <ul class="navbar-nav ms-auto" style="text-align: right;">
                            <li class="nav-item">
                                <a href="#mission" class="nav-link active">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class="nav-link">Signup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="about-container">

                <!--About Section Component-->
                <div class="about-learn-more">
                    <p>Learn more</p>
                    <span><i class="fa-solid fa-arrow-down"></i></span>
                </div>

                <div class="about-text" id="about">
                    <h1>Mental Health Matters.</h1>
                    <p text-align="justify">
                        Mental health matters! It's essential for academic success. When you're mentally healthy, you're better able to focus, concentrate, and learn effectively. You're also more likely to have the motivation and resilience to overcome challenges. So take care of your mental health today! Your future self will thank you!
                    </p>
                    <h5 style="font-weight: lighter;">It's okay to be &nbsp;<span style="font-weight: bold;" class="type"></span></h5>
                    <script>
                        var typed = new Typed('.type', {
                        strings: ['Not Okay.'],
                        smartBackspace: true,
                        typeSpeed: 150,
                        backSpeed: 150,
                        loop: true, 
                        },
                        );
                    </script>
                </div>

                <div class="about-brain">
                    <img src="./assets/img/about-brain.svg" alt="Brain logo SVG">
                </div>

            </div>

        </section>

        <!-- Mission Section -->
        <section id="mission" id="mission">
            <div class="mission-container">

                <div class="mission-text">
                    <h1>Our Mission</h1>
                    <p text-align="justify">
                        We believe that all students deserve to have the mental health support they need to succeed. We are committed to providing resources and education to help students cope with stress, anxiety, depression, and other mental health challenges. We also work to create a more supportive and inclusive environment for students, so that they feel comfortable talking about their mental health and seeking help.<br>
                        The need to nurture student mental health is increasing for a number of reasons, including the academic and social pressures of school. Mental health problems can have a significant impact on students' academic performance, social relationships, and overall well-being. We believe that by working together, we can create a world where all students have the mental health support they need to succeed.
                    </p>
                </div>

                <div class="mission-tiles">

                    <div class="card">
                        <div class="tile-banner">
                            <i class="fa-solid fa-trophy fa-3x"></i>
                        </div>
                        <div class="tile-text">
                            <p>
                                One of the largest national student surveys into the mental health of Australian students has revealed that close to 70 per cent of respondents rated their mental health as poor or fair. While two-thirds reported high or very high psychological distress over the past 12 months.
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tile-banner">
                            <i class="fa-solid fa-medal fa-3x"></i>
                        </div>
                        <div class="tile-text">
                            <p>
                                Over 2 in 5 (44%, or 8.6 million) Australians aged 16–85 is estimated to have experienced a mental disorder at some time in their life, with 1 in 5 (21%, or 4.2 million) having experienced a mental disorder in the previous 12 months.
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tile-banner">
                            <i class="fa-solid fa-solid fa-magnifying-glass fa-3x"></i>
                        </div>
                        <div class="tile-text">
                            <p>
                                In Australia, approximately 14% of 4 to 17 year olds experience a mental health problem each year, amounting to 560,000 Australian children and adolescents in any one year, with 278,000 and 112,000 experiencing anxiety and depression disorders, respectively.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <footer class="contact" id="contact">

            <div class="footer-final">
                <p>All Rights Reserved | Team @ Encephalon</p>
            </div>

            <div class="footer-logo">
                <h3>Encephalon.</h3>
            </div>

            <div class="footer-socials-box">

                <div class="footer-socials">
                    <a href="/home">Home</a>
                    <a href="#mission">About</a>   
                    <a href="#" target="_blank">FAQ</a>
                    <a href="#" target="_blank">Team</a>
                    <a href="/contact" target="_blank">Contact</a>
                </div>

            </div>

         </footer>

    </body>
</html>