<html>
    <head>
        <!--media queries-->
        <title>Encephalon</title>
        <meta name="author" content="Jude Savio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- Adding favicon-->
        <link rel="shortcut icon" type="image/x-icon" href= "/assets/img/icon.ico" />
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <!-- Font Awesome Kit -->
        <script src="https://kit.fontawesome.com/6d2d9357ff.js" crossorigin="anonymous"></script>
        <!-- Linking custom CSS file -->
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <!-- Hero Section -->
        <section>

            <!-- Nav Bar Module -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container" style="color: #00001f;">
                    <h3>Encephalon.</h3>
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#ToggleMenu" aria-controls="ToggleMenu" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="ToggleMenu">
                        <ul class="navbar-nav ms-auto" style="text-align: right;">
                            <li class="nav-item">
                                <a href="/home" class="nav-link active">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="submit-container">
                <div class="submit-box">

                    <div class="submit-brain-logo">
                        <img src="assets/img/brain-register.png" alt="A gentle brain image">
                    </div>

                    <div class="submit-text">
                        <h4> Hello, there! &#x1F44B;</h4>
                        <button id="submit-btn">Signup</button>
                        <p> Have an account? <a href="/login">Login</a></p>
                    </div>

                </div>
            </div>

        </section>
    </body>
</html>