*{
    margin : 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* Nav Bar Section */

.navbar{
    background-color: #FAE8E8;
    display: fixed;
    height: 70px;
    width: 100%;
}

.navbar h3{
    font-weight: bold;
    margin-left: 5px;
}

/* About Container */
.about-container{
    height: 91.25vh;
    width: 100%;
    background-color: #FAE8E8;
    display: flex;
    flex-direction: row;
}

.about-text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding : 10px;
    margin-left : 60px
}

.about-text h1{
    font-weight: bold;
}

.about-text p{
    font-weight: 400;
    font-size: 37px;
}

.about-text p{
    font-size: 20px;
}

.about-text h5{
    font-size: 30px;
}


.about-text h5 span{
    font-size: 40px;
    opacity: none;
    color: #8A3815;
}

.about-brain{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-brain img{
    width: 600px;
    height: 600px;
}

.about-learn-more{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top : 90%;
    left: 0;
    right: 0;
    text-align: center;
}

.about-learn-more p{
    font-size: 18px;
}

.fa-arrow-down{
    color : #8A3815
}

.about-learn-more span i{
    animation: updown 2.5s ease infinite;
}

@keyframes updown{
    0% {
        transform: translateY(-100%);
        }

    50% {
    transform: translateY(100%);
    }

    100% {
    transform: translateY(-100%);
    }
}

/* Mission Container */
.mission-container{
    width: 100%;
    height: 100vh;
    background-color: #FAE8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.mission-text{
    margin-left: 60px;
    width: 90%;
}

.mission-text h1{
    font-weight: bold;
    color: #8A3815;
}

.mission-text p{
    font-size: 20px;
}

.mission-tiles{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    margin: 0px 10px;
    animation: popup 2s ease infinite;
}

.card:hover {
    box-shadow : 0 0 11px rgba(33,33,33,.2); 
    transition-timing-function: ease-in;
    transition: 0.5s;
    transform: translateY(-5px);
}

.tile-banner{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-text{
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 17.5px;
}

.tile-text p{
    text-align: center;
}

/* Team Section */
.team-container{
    width: 100%;
    height: 75vh;
    background-color: #FAE8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.team-card-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member-card{
    height: 300px;
    width : 550px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.member-card-left{
    width: 35%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture{
    display: block;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits properly inside the div */
    width: 150px; /* Adjust the width to your preferred size */
    height: 150px; /* Adjust the height to your preferred size */
}

.team-profile-picture img{
    object-fit: contain;
}

.member-card-right{
    width: 65%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.member-card-right p{
    text-align: center;
}

/* Footer - Contact Details */
.contact{
    height: 200px;
    width: 100%;
    background-color: #000000;
    position: relative;
    display: flex;
}

.footer-logo{
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.footer-socials-box{
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.footer-socials{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-socials a i{
    font-size: 40px;
    color: #000000;
}

.footer-final{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 13px;
}

.footer-socials a{
    text-decoration: none;
    color: white;
}

.teams .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

#customers-teams .item {
    height:470px !important;
    width: 400px;
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-teams .item p{
font-size:12px;
}
#customers-teams .item h2{
font-size:28px !important;
font-weight:500 !important;
}
#customers-teams .item .title{
font-size:14px;
}
#pastexp{
margin-top:20px;
}
#customers-teams .item h5{
font-size:15px !important;
font-weight:700 !important;
}
#customers-teams .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.teams .owl-carousel .owl-item .img-circle {
    transform-style: preserve-3d;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto 17px;
    transition: transform .5s;
    object-fit: contain;
}
.teams .owl-carousel .owl-item .img-circle:hover {
    transform: scale(0.9);
}

#customers-teams.owl-carousel .owl-dots .owl-dot.active span,
#customers-teams.owl-carousel .owl-dots .owl-dot:hover span {
    background: rgba(215,67,77,0.8);
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-teams.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-teams.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-teams.owl-carousel .owl-dots .owl-dot span {
    background: rgba(215,67,77,0.8);
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
      margin-top:50px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
      outline: none;
        border-radius:50% !important;
}
.owl-dot, .owl-dot:active, .owl-dot:focus { 
outline: 0 !important;
}

@media only screen and (max-width: 1000px){
#customers-teams.owl-carousel .owl-dots .owl-dot span {
height:20px;
width:20px;
margin-top:30px;
}
}




