*{
    margin : 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* Nav Bar Section */

.navbar{
    background-color: #fae8e8df;
    display: fixed;
    height: 70px;
    width: 100%;
}

/* Sidebar */
.profile-sidebar{
    width: 100px; 
    background-color: #8A3815; 
    color: #fff; 
    position: fixed; 
    height: 100%; 
    left: 0; 
    top: 0; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: #fae8e8df;
}


.quake-icon {
    animation-delay: 5s;
    animation-duration: 3s;
    animation: quake 0.2s linear;
}

@keyframes quake {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-2px, -2px);
    }
    40% {
        transform: translate(2px, 2px);
    }
    60% {
        transform: translate(-2px, -2px);
    }
    80% {
        transform: translate(2px, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.encephalon-h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.icon {
    font-size: 24px;
    height: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.icon i{
    margin-bottom: 10px;
}

#home{
    border-bottom: 1px white;
}

.logout-icon {
    text-align: center;
    font-size: 24px;
}

.content-container {
    margin-left: 100px; 
    padding: 20px; 
    height: 91.25vh;
    background-color:#FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* QUESTIONNAIRE RULES */

#questionnaire{
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question{
    color: #8A3815;
    margin: 20px 0px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.question h2{
    margin: 20px 0px;
}

/* Style the input tag */
input.answer {
    border: none; 
    border-bottom: 2px solid black; 
    font-size: 20px; 
    padding: 5px; 
    width: 100%; 
    height: 50px;   
    background-color: #FFF;
    outline: none;
    margin-top: 40px;
}

input.answer:focus {
    border-bottom: 2px solid #8A3815; 
}

/* Style the progress bar */
.progress-bar {
    background-color: #FAE8E8;
    height: 10px;
    width: 100%;
    border-radius: 25px;
}   

.progress {
    background-color: #8A3815;
    height: 100%;
    width: 1.5%; /* Set the first width */
    border-radius: 25px;
}


/* Style the navigation buttons */
.nav-buttons {
    display: flex;
    justify-content:space-around;
    width: 100%;
    margin-top: 100px;
}

.answer {
    width: 100%;
}

/* Style the "Prev" and "Next" buttons */
.prev,
.next {
    background-color: #FAE8E8;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.prev:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Style the submit button */
.submit {
    background-color: #8A3815;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    display: none;
}
